# Exclusive global ignore

/*

!.asoundrc
!.bashrc
!.fbtermrc
!.gitignore
!.tmux.conf
!.xinitrc
!.Xresources

!bin/
/bin/*
!bin/*

!.i3/
/.i3/*
!.i3/config

!.mpd/
/.mpd/*
!.mpd/mpd.conf

!.mplayer/
/.mplayer/*
!.mplayer/config

!.nvim/
/.nvim/*
!.nvim/nvimrc
!.nvim/colors/
/.nvim/colors/*
!.nvim/colors/usmyck.vim

!.urxvt/
/.urxvt/*
!.urxvt/colors/
/.urxvt/colors/*
!.urxvt/colors/monokai
!.urxvt/colors/smyck
!.urxvt/colors/thing
!.urxvt/colors/tomorrow

!.config/
/.config/*
!.config/compton.conf
!.config/redshift.conf
!.config/bspwm/
/.config/bspwm/*
!.config/bspwm/bspwmrc
!.config/dfc/
/.config/dfc/*
!.config/dfc/dfcrc
!.config/dunst/
/.config/dunst/*
!.config/dunst/dunstrc
!.config/feh/
/.config/feh/*
!.config/feh/buttons
!.config/feh/keys
!.config/feh/themes
!.config/htop/
/.config/htop/*
!.config/htop/htoprc
!.config/mpd/
/.config/mpd/*
!.config/mpv/
/.config/mpv/*
!.config/ranger/
/.config/ranger/*
!.config/ranger/rc.conf
!.config/ranger/rifle.conf
!.config/ranger/colorschemes/
/.config/ranger/colorschemes/*
!.config/ranger/colorschemes/userscheme.py
!.config/sxhkd/
/.config/sxhkd/*
!.config/sxhkd/sxhkdrc
