!!! Xft {{{
!Xft.dpi: 96
!Xft.antialias: true
!Xft.hinting: true
!Xft.rgba: rgb
!Xft.autohint: false
!Xft.hintstyle: hintslight
!Xft.lcdfilter: lcddefault
!!! }}}
!!! Rofi {{{
rofi.modi:                 window, run, ssh
! rofi.modi:                 window,run,ssh,mth:~/bin/mthmen.sh
rofi.opacity:              100
rofi.width:                50
rofi.lines:                15
rofi.columns:              3
rofi.font:                 terminus 8
rofi.color-enabled:        true
!                  bg             fg             bgalt          hlbg           hlfg
rofi.color-normal: argb:ff272822, argb:ff76715e, argb:ef272822, argb:ff272822, argb:ffcfd0c2
rofi.color-urgent: argb:ff272822, argb:ffdc2566, argb:ef272822, argb:ff272822, argb:ffdc2566
rofi.color-active: argb:ff272822, argb:ff55bcce, argb:ef272822, argb:ff272822, argb:ff55bcce
!                  bg
rofi.color-window: argb:cc272822
! rofi.color-window: argb:dd272822, argb:ff00ff00, argb:00ff0000

rofi.separator-style:       dash

! rofi.fg:                   #76715e
! rofi.bg:                   #48483e
! rofi.bgalt:                #48483e
! rofi.hlfg:                 #cfd0c2
! rofi.hlbg:                 #48483e
! rofi.bc:                   #f1ebeb
!
! rofi.fg-active:            #268BD2
! rofi.fg-urgent:            #DC323F
! rofi.hlfg-active:          #FDFE4
! rofi.hlfg-urgent:          #FDF6E3
! rofi.bg-active:            #FDF6E3
! rofi.bg-urgent:            #FDF6E3
! rofi.hlbg-active:          #268BD2
! rofi.hlbg-urgent:          #DC322F
! rofi.bgalt:                #48483e
! rofi.hlfg:                 #cfd0c2
! rofi.hlbg:                 #48483e
! rofi.bc:                   #f1ebeb
rofi.bw:                   0
rofi.location:             0
rofi.padding:              0
rofi.yoffset:              0
rofi.xoffset:              0
rofi.fixed-num-lines:      false
rofi.terminal:             urxvt
rofi.ssh-client:           ssh
rofi.ssh-command:          {terminal} -e {ssh-client} {host}
rofi.run-command:          {cmd}
rofi.run-list-command:
rofi.run-shell-command:    {terminal} -e {cmd}
rofi.disable-history:      true
rofi.levenshtein-sort:     true
rofi.case-sensitive:       false
rofi.sidebar-mode:         true
rofi.lazy-filter-limit:    5000
rofi.eh:                   1
rofi.auto-select:          false
rofi.line-margin:          3
rofi.pid:                  /run/user/1000/rofi.pid
rofi.hide-scrollbar:       true
rofi.key-window:           
rofi.key-run:              
rofi.key-ssh:              
!!! }}}
!!! Dzen2 {{{
dzen2.font:       -*-terminus-*-*-*-*-10-*-*-*-*-*-*-*
dzen2.foreground: #22ee11
dzen2.background: black
!!! }}}
!!!Yeahconsole {{{
yeahconsole*term:            urxvt
! yeahconsole*screenWidth:     1030
yeahconsole*consoleHeight:   23
! yeahconsole*xOffset:         10
yeahconsole*aniDelay:        20
yeahconsole*stepSize:        4
yeahconsole*handleWidth:     1
yeahconsole*handleColor:     #f1ebeb
yeahconsole*background:      #272822
! yeahconsole.foreground:
yeahconsole*toggleKey:       Win+t
!!! }}}
!!! URxvt {{{
URxvt.depth:              32
URxvt.buffered:           true

pointerBlankDelay:        .1

URxvt.title:              URxvt

URxvt.jumpScroll:         true
URxvt.skipScroll:         false
URxvt.scrollstyle:        plain
URxvt.thickness:          1
URxvt.scrollBar:          false
URxvt.scrollBar_right:    true
URxvt.scrollBar_floating: true
URxvt.scrollTtyOutput:    false
URxvt.scrollTtyKeypress:  true
URxvt.saveLines:          65535

URxvt.modifier:           alt

URxvt.internalBorder:     1
URxvt.externalBorder:     0
URxvt.borderLess:         false

URxvt.termName:           rxvt-unicode

URxvt.cursorBlink:        true

URxvt.urgentOnBell:       true

! URxvt.geometry:           80x25

! URxvt.font:               xft:terminus:size=14
! symbola:size=14
URxvt.font:               xft:terminus:size=8
! URxvt.font:               xft:tewi:size=8
! terminus:size=14
fixed:size=8
URxvt.boldFont:           xft:terminus:bold:size=8
!!! }}}

! vim: fdm=marker
